/**
 * critical styles
 */

:root {
  --flow-space: #{get-size('600')};
}

body {
  @include apply-utility('font', 'base');

  background: get-color('dark-m1');
  color: get-color('base');
  font-size: get-size('500');
  line-height: 1.5;

  .houdini-anim & {
    transition: background 1s;
    will-change: background;
  }
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('light-p1');
}

:focus {
  outline: 2px dashed get-color('light');
  outline-offset: .25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  @include apply-utility('font', 'sans');
  @include apply-utility('leading', 'flat');

  font-weight: 900;
}

// high contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  background: get-color('light');
  color: get-color('dark');

  .houdini-anim & {
    transition: background 1s, color 1s;
  }
}

// add a bit of scroll margin
[id] {
  scroll-margin-top: 4rem;
}

/**
 * scrollbar styling
 * only on hover devices
 */
@media (hover: hover) {
  // firefox
  * {
    scrollbar-color: get-color('light-p1') get-color('dark');
  }

  // webkit
  ::-webkit-scrollbar {
    height: .75rem;
    width: .75rem;
  }

  ::-webkit-scrollbar-track {
    background: get-color('dark');
  }

  ::-webkit-scrollbar-thumb {
    background-color: get-color('light-p1');
    border: .125rem solid get-color('dark');
    border-radius: 100vw;
  }
}

/**
 * wrappers
 */
.app {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  // perspective: 100px;
  position: relative;
}

.site-wrap {
  display: flex;
  flex-direction: column;
}

main {
  background: get-color('dark');
  flex: 1 0 auto;

  .houdini-anim & {
    transition: background 1s;
  }
}

article {
  padding-bottom: get-size('major') + get-size('900');
  padding-top: get-size('major');
  position: relative;
}

/**
 * where houdini-anim is supported add transition to colours
 */
.houdini-anim {
  [class*=' color-'],div[class^='color'] {
    transition: color 1s;
    will-change: color;
  }

  [class*=' bg-'],div[class^='bg'] {
    transition: background 1s;
    will-change: background;
  }
}
