---
layout: raw
title: "Bill and Ted’s Accessibility Adventure"
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>{{ title }}</h1>
      <p>As Bill and Ted discovered in their excellent adventure, it can be easier to learn through hijinks, trials and practice than through reading. How can we learn from their experience to get better at web accessibility?</p>
      <p>Considering accessibility is essential for our work, but it has a high barrier to entry and reading guides and specifications only gets you so far. Through my experience training a front-end development team I've discovered that learning accessibility testing is an easy and effective way of mastering it.</p>
      <p>With the guidance of Bill and Ted we'll explore the ups and downs I went through teaching accessibility, and why focusing on testing works so well. You'll go away with not only an answer to how on earth these are related, but also a great strategy to benchmark your accessibility work and build up your accessibility skills in a way that will last.</p>

      <a class="b-button" href="https://www.youtube.com/watch?v=Jn9k4KUDNbA">Watch the recording on YouTube</a>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="measure-long flow">
      <h2 class="gap-bot-600">Useful links and resources</h2>
      <ul class="flow list-style">
        <li><a href="https://slides.com/accudio/adh-bill-and-ted/scroll?chrome=hidden">Slides from All Day Hey! 2026</a></li>
        <li><a href="https://slides.com/accudio/bill-and-teds-accessibility-adventure/scroll?chrome=hidden">Slides from CityJS London 2025</a></li>
        <li>
          <p class="gap-bot-200">Useful testing tools to get started with</p>
          <ul>
            <li><a href="https://developer.chrome.com/docs/lighthouse">Lighthouse</a></li>
            <li><a href="https://www.deque.com/axe/devtools/extension">Axe</a></li>
            <li><a href="https://wave.webaim.org/">WAVE</a></li>
            <li><a href="https://accessibilityinsights.io">Accessibility Insights</a></li>
            <li><a href="https://www.w3.org/WAI/test-evaluate/preliminary/">W3C 'Easy Checks'</a></li>
            <li><a href="https://polypane.app/blog/find-and-fix-accessibility-issues-with-polypane/">Polypane</a></li>
            <li><a href="https://www.a11yproject.com/checklist/">The A11y Project Checklist</a></li>
          </ul>
        </li>
        <li>
          <p class="gap-bot-200">Other great Accessibility & testing resources</p>
          <ul>
            <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG — Web Content Accessibiloty Guidelines</a></li>
            <li><a href="https://www.matuzo.at/blog/beyond-automatic-accessibility-testing-6-things-i-check-on-every-website-i-build/">Manuel Matuzović — Beyond automatic accessibility testing: 6 things I check on every website I build</a></li>
            <li><a href="https://hidde.blog/common-a11y-issues/">Hidde de Vries — Common accessibility issues that you can fix today</a></li>
            <li><a href="https://hidde.blog/more-common-a11y-issues/">Hidde de Vries — More common accessibility issues that you can fix today</a></li>
            <li><a href="https://www.a11yproject.com/posts/using-firefox-for-accessibility-testing/">Todd Libby — Use Firefox for accessibility testing</a></li>
            <li><a href="https://solaria.neocities.org/guides/accessibility">Solaria — What I've Learned About Web Accessibility as a Dyslexic, Sighted, Mouse User</a></li>
            <li><a href="https://www.getstark.co/wcag-explained/">Stark — The WCAG Explained</a></li>
            <li><a href="https://www.a11yproject.com">The A11y Project</a></li>
            <li><a href="https://smashingconf.com/online-workshops/workshops/accessibility-testing-manuel-matuzovic">Manuel Matuzović — Deep Dive On Accessibility Testing Workshop</a></li>
            <li><a href="https://testingaccessibility.com">Marcy Sutton — Testing Accessibility Workshop</a></li>
            <li><a href="https://overlayfactsheet.com">Overlay Fact Sheet</a></li>
          </ul>
        </li>
        <li>
          <p class="gap-bot-200">For those with more experience</p>
          <ul>
            <li><a href="https://beinclusive.app/blog/why-manual-accessibility-audits-are-so-important">BeInclusive</a></li>
            <li><a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">WCAG-EM — Evaluation Methodology</a></li>
            <li><a href="https://www.magentaa11y.com">Magenta A11y — component-based accessibility criteria</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</article>
