---
layout: raw
title: "Creative web: building dynamic websites for work and play"
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>{{ title }}</h1>
      <p>Modern web technologies and browsers are more powerful and flexible than ever, and making great websites has never been easier.</p>
      <p>This talk looks back at how with a bit of recent CSS and JavaScript and some simple techniques it's possible to make a dynamic, fun, creative website easier than you may think! Features a lot of CSS Custom Properties, a bit of Parallax (it can be good I promise!), colour themes and generative art using SVG.</p>
      <p>By the end you'll be inspired to go and use our modern web technologies to build—or continue building—creative and wonderful websites.</p>
    </div>
  </div>
</article>

{#
<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap flow flow-space-600">
    <h2>Recording</h2>
  </div>
</article>
#}

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="measure-long flow">
      <h2 class="gap-bot-600">Useful links and resources</h2>
      <ul class="flow list-style">
        <li><a href="https://accud.io/sotb">State of the Browser slides</a></li>
        <li><a href="https://developer.chrome.com/blog/performant-parallaxing/">Chrome Developers: Performant Parallaxing</a></li>
        <li><a href="https://accud.io/new-site-1">Making a Parallax SVG Landscape — new site part 1</a></li>
        <li><a href="https://accud.io/new-site-2">SVG Landscape with live colour theming — new site part 2</a></li>
        <li><a href="https://accud.io/new-site-3">SVG generative mountain ridge dividers</a></li>
      </ul>
    </div>
  </div>
</article>
