---
layout: raw
title: Image Optimisation for the Jamstack with Image CDNs
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>{{ title }}</h1>
      <div>
        <a href="https://jamstacklondon.com">Jamstack London</a> &mdash; <time datetime="{{ '2021-09-30' | htmlDate }}">{{ '2021-09-30' | date }}</time>
      </div>
      <a class="b-button" href="https://jamstacklondon.com/events/2021-09-30/">See more info</a>
    </div>
  </div>
</article>

{# <article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <h2 class="gap-bot-600">The recording</h2>

  </div>
</article> #}

<article>
  <div class="wrap">
    <div class="measure-long flow">
      <h2 class="gap-bot-600">Useful links and resources</h2>
      <ul class="flow list-style">
        <li><a href="https://slides.com/accudio/image-optimisation-for-the-jamstack-with-image-cdns">The slides for this talk</a></li>
        <li><a href="https://squoosh.app">Great tool for optimising images manually &mdash; squoosh.app</a></li>
        <li><a href="https://jakearchibald.com/2021/serving-sharp-images-to-high-density-screens/">Serving multiple image qualities depending on screen density &mdash; Jake Archibald</a></li>
        <li><a href="https://www.smashingmagazine.com/2021/04/image-optimization-pre-release/">Image Optimisation &mdash; book by Addy Osmani</a></li>
        <li><a href="https://1896gallery.com/">The site used in the 'case study' &mdash; 1896 Gallery</a></li>
        <li><a href="https://gist.github.com/Accudio/f7625f4d67ec3598e9f06e9b63b2552a">Example Eleventy shortcode abstraction</a></li>
        <li><a href="https://gist.github.com/Accudio/1250f383ca0a084d58ce923d1ae18eee">Example React component abstraction</a></li>
        <li><a href="https://firt.dev/image-cdn">Performance and feature comparison of major Image CDNs (2019) &mdash; Maximiliano Firtman</a></li>
        <li><a href="https://css-tricks.com/cloudinary-fetch-with-eleventy-respecting-local-development/">Chris Coyier's thoughts on proxying Image CDNs and local development</a></li>
        <li><a href="https://timkadlec.com/remembers/2020-11-17-netlify-proxy-requests/">How to proxy Cloudinary requests using Netlify Rewrites &mdash; Tim Kadlec</a></li>
    </div>
  </div>
</article>
