---
layout: raw
title: Making assets fly on WordPress with Image CDNs
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>{{ title }}</h1>
      <h2>Given at:</h2>
      <ul>
        <li><a href="https://www.meetup.com/WordPress-OX/events/282794402/">WordPress Oxford</a> &mdash; <time datetime="{{ '2022-01-19' | htmlDate }}">{{ '2022-01-19' | date }}</time></li>
      </ul>
      <a class="b-button" href="https://www.meetup.com/WordPress-OX/events/282794402/">See more info</a>
    </div>
  </div>
</article>

{#<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <h2 class="gap-bot-600">Latest recording:</h2>
    <p>https://www.youtube.com/watch?v=LNAApZIYZUw&start=7260</p>
  </div>
</article>#}

<article>
  {#{% divider 'color-dark' %}#}
  <div class="wrap">
    <div class="measure-long flow">
      <h2 class="gap-bot-600">Useful links and resources</h2>
      <ul class="flow list-style">
        <li><a href="https://slides.com/accudio/making-images-fly-on-wordpress-with-image-cdns-cb088f/">WordPress Oxford slides</a></li>
        <li><a href="https://squoosh.app">Great tool for optimising images manually &mdash; squoosh.app</a></li>
        <li><a href="https://jakearchibald.com/2021/serving-sharp-images-to-high-density-screens/">Serving multiple image qualities depending on screen density &mdash; Jake Archibald</a></li>
        <li><a href="https://www.smashingmagazine.com/2021/04/image-optimization-pre-release/">Image Optimisation &mdash; book by Addy Osmani</a></li>
        <li><a href="https://gist.github.com/Accudio/e7aae5823018bbedff4c9868c1241a3d">Example Advanced Custom Fields abstraction</a></li>
        <li><a href="https://firt.dev/image-cdn">Performance and feature comparison of major Image CDNs (2019) &mdash; Maximiliano Firtman</a></li>
        <li><a href="https://almanac.httparchive.org/en/2021/cms">HTTP Archive Web Almanac &mdash; CMS chapter</a></li>
        <li><a href="https://make.wordpress.org/core/2021/10/28/wordpress-performance-team-kick-off/">Announcement of formation of WordPress Performance Team</a></li>
        <li><a href="https://css-tricks.com/a-look-at-the-cloudinary-wordpress-plugin/">A look at the Cloudinary WordPress Plugin &mdash; CSS Tricks</a></li>
    </div>
  </div>
</article>
