{% macro link(url) %}
  <link rel="stylesheet" href="{{ url }}">
{% endmacro %}

{% macro defer(url) %}
  {% if env.IS_DEV %}
      <link rel="stylesheet" href="{{ url }}">
  {% else %}
    <link rel="stylesheet" href="{{ url }}" media="print" onload="this.media='all'">
    <noscript>
      <link rel="stylesheet" href="{{ url }}">
    </noscript>
  {% endif %}
{% endmacro %}

{% macro inline(name) %}
  {% if env.IS_DEV %}
    <link rel="stylesheet" href="/assets/css/{{ name }}.css">
  {% else %}
    <style data-inline>{% include "bundle/css/" + name + ".css" %}</style>
  {% endif %}
{% endmacro %}
