---
permalink: '/feed.xml'
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ config.name }}</title>
  <subtitle></subtitle>
  <link href="{{ config.url }}{{ permalink }}" rel="self"/>
  <link href="{{ config.url }}/"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ config.url }}</id>
  <author>
    <name>{{ config.authorName }}</name>
  </author>
  {% for post in collections.posts %}
    {% set absolutePostUrl %}{{ config.url }}{{ post.url | url }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
        <![CDATA[
      {{ post.templateContent | safe }}
      <hr>
      <p>If you have any comments or feedback on this article, let me know! I'd love to hear your thoughts, go ahead and <a href="mailto:alistair@accudio.com">send me an email</a> at alistair@accudio.com or <a href="https://twitter.com/accudio" rel="noopener noreferrer">contact me on Twitter</a>.</p>
      <p>The post <a href="{{ absolutePostUrl }}">{{ post.data.title }}</a> appeared first on <a href="https://alistairshepherd.uk">alistairshepherd.uk</a>.</p>
    ]]>
      </content>
    </entry>
  {% endfor %}
</feed>
