---
permalink: /humans.txt
layout: null
eleventyExcludeFromCollections: true
---
# humanstxt.org/
# The humans responsible & technology colophon

# TEAM
Pretty much everything: Alistair Shepherd
Site: alistairshepherd.uk
Twitter: @accudio
Email: alistair@accudio.com
Location: Edinburgh, Scotland

# SITE
Last Updated: {{ env.date.d }}/{{ env.date.m }}/{{ env.date.y }}
Technologies: 11ty, SCSS, PostCSS, gulp, Netlify
