---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /writing/tag/{{ tag | slug }}/
eleventyComputed:
  title: Tagged {{ tag }}
---

<h1>#{{ tag }}</h1>
<small>{{ collections[tag].length }} posts published</small>

<ol reversed class="[ latest-posts ][ flow flow-space-700 ]">
  {% for item in collections[tag] | reverse %}
    {% set hLevel = 'h3' %}
    {% include 'partials/postItem.njk' %}
  {% endfor %}
</ol>
