/**
 * Auto grid
 * Set the minimum item size with `--auto-grid-min-size` and you'll
 * get a fully responsive grid with no media queries.
 *
 * https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
 *
 * needs the additional min function to ensure items don't overflow,
 * and needs to use #{''} hack so sass doesn't parse min
 */

.auto-grid {
  display: grid;
  grid-gap: var(--auto-grid-gap, get-size('500'));
  grid-template-columns: repeat(var(--auto-grid-fit, auto-fill), minmax(m#{i}n(var(--auto-grid-min-size, 16rem), 100%), 1fr));
}
