/**
 * Blog
 * Blog content in a smart way
 */

.blog {
  display: grid;
  grid-template-columns: get-size('500') 1fr min(67.33rem, calc(100% - 2.66rem)) 1fr get-size('500');
  position: relative;

  > * {
    grid-column: 3;
  }

  p {
    max-width: 65ch;
  }
}
