/**
 * img-auto
 *
 * displays image with placeholder with intrinsic aspect ratio
 */

.img-auto {
  overflow: hidden;
  position: relative;

  .plaice {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    position: relative;
  }
}
