{% import 'utils/css.njk' as css %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml">

    {% include "partials/meta.njk" %}

    {{ css.inline('critical') }}

    {{ css.defer('/assets/css/main.css') }}

    <link rel="preload" as="style" href="/fonts/fonts.css">
    <link rel="preload" as="font" href="/fonts/Literata-400-latin14.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="/fonts/Red_Hat_Display-900-latin25.woff2" type="font/woff2" crossorigin>
    {{ css.defer('/fonts/fonts.css') }}

    <!-- naked stylesheet -->
    <link id="naked-stylesheet" rel="none" href="/assets/css/naked.css">

    {% block head %}{% endblock %}
  </head>

  <body data-barba="wrapper">

    {{ process.env.ELEVENTY_ENV }}

    <div class="app">
      <div id="page" class="site-wrap">

        <a href="#main" class="[ b-skip ][ pad-200 ][ bg-dark ][ color-light ]">Skip to the main content</a>

        {% include "partials/themes.njk" %}
        {% include "partials/header.njk" %}

        <main id="main" tabindex="-1" data-barba="container">
          {% block beforeContent %}{% endblock beforeContent %}
          {% block content %}{% endblock content %}
        </main>

        {% include "partials/contact.njk" %}

        {% include "partials/footer.njk" %}
      </div>
    </div>

    <script src="/assets/js/main.js" type="module"></script>
    <script src="/assets/js/barba.js" type="module"></script>

    <div style="display:none">
      {% include 'bundle/icons.svg' %}
    </div>

    <script>
      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
          });
        }
      {% endif %}
    </script>
  </body>
</html>
