{% import 'utils/css.njk' as css %}

<!DOCTYPE html>
<html lang="{{ config.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml">

    {% include "partials/meta.njk" %}

    <link rel="icon" href="/favicon.png" type="image/png">

    {{ css.inline('critical') }}

    {{ css.defer('/assets/css/main.css') }}

    <!-- naked stylesheet -->
    <link id="naked-stylesheet" rel="none" href="/assets/css/naked.css">

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400&family=Red+Hat+Display:wght@400;900">
  </head>

  <body data-barba="wrapper">

    {{ process.env.ELEVENTY_ENV }}

    <div class="app">
      <div id="page" class="site-wrap">
        {% include "partials/themes.njk" %}
        {% include "partials/header.njk" %}

        <main id="main" tabindex="-1" data-barba="container">
          {% block content %}{% endblock content %}
        </main>

        {% include "partials/contact.njk" %}

        {% include "partials/footer.njk" %}
      </div>
    </div>

    <script src="/assets/js/main.js" type="module"></script>
    <script src="/assets/js/barba.js" type="module"></script>

    <div style="display:none">
      {% include 'bundle/icons.svg' %}
    </div>

    <script>
      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      {% endif %}
    </script>
  </body>
</html>
