{% extends 'layouts/base.njk' %}
{% import 'utils/css.njk' as css %}

{# Populate <head> with post-related assets #}
{% block head %}
  {% if config.syntaxTheme %}
    {{ css.defer('/assets/css/syntax-highlight.css') }}
  {% endif %}
{% endblock %}

{% block content %}
  <article>
    <div class="wrap">
      <div class="[ flow ][ measure-long ]">
        {% if date %}
          <time datetime="{{ date | htmlDate }}">{{ date | date }}</time>
        {% endif %}

        <h1>{{ title }}</h1>

        {% if tags.length %}
          <nav class="[ text-400 ][ flow-space-200 ]">
            Tags:
            {% for tag in tags %}
              <a href="/blog/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </nav>
        {% endif %}

        {{ content | safe }}

      </div>
    </div>
  </article>
{% endblock %}
