{% extends 'layouts/base.njk' %}
{% import 'utils/css.njk' as css %}

{# Populate <head> with post-related assets #}
{% block beforeContent %}
  {{ css.link('/assets/css/syntax-highlight.css') }}
{% endblock %}

{% block content %}
  <article>
    <div class="wrap">
      <div class="[ flow ][ measure-long ]">
        {% if date %}
          <time datetime="{{ date | htmlDate }}">{{ date | date }}</time>
        {% endif %}

        <h1>{{ title }}</h1>

        {% if tags.length %}
          <nav class="[ text-400 ][ flow-space-200 ]">
            Tags:
            {% for tag in tags %}
              <a href="/writing/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </nav>
        {% endif %}

        {{ content | safe }}

      </div>
    </div>
  </article>

  <article id="thoughts-feedback" class="bg-mid-p1">
    {% divider 'color-mid-p1' %}
    <div class="wrap">
      <div class="[ measure-long ][ flow ]">
        <h2>Thoughts or comments?</h2>
        <p>If you have any comments or feedback on this article, let me know! I'd love to hear your thoughts, go ahead and <a href="{{ config.author.email }}">send me an email</a> at {{ config.author.email }} or <a href="https://twitter.com/{{ config.author.twitter }}">contact me on Twitter</a>.</p>
      </div>
    </div>
  </article>

{% endblock %}
