{% extends 'layouts/base.njk' %}

{% block content %}
  <article>
    <div class="[ wrap ][ flow ]">

      <div class="[ flow ][ measure-long ]">
        {{ intro | safe }}
      </div>

      {% if techs %}
        <h2>Technologies</h2>
        <ul>
          {% for tech in techs %}
            <li>{{ tech }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if buttons %}
        {% for button in buttons %}
          <a class="b-button" href="{{ button.url }}">{{ button.title }}</a>
        {% endfor %}
      {% endif %}

      {% if images %}
        <div class="[ radius ][ img-auto ]">
          <img
            src="{% src images[0].src, 1077, 0.5 %}"
            srcset="{% srcset images[0].src, null, 0.5 %}"
            sizes="{% sizes 'full' %}"
            alt="{{ images[0].alt }}"
            width="1077"
            height="539"
            loading="lazy"
          >
        </div>
      {% endif %}
    </div>
  </article>

  <article class="bg-dark-1">
    {% divider 'color-dark-1' %}
    <div class="wrap">
      <div class="[ flow ][ measure-long ]">
        {{ content | safe }}
      </div>
    </div>
  </article>

  {% if images %}
    <article>
      {% divider 'color-dark' %}
      <div class="[ wrap ][ flow ]">
        <h2>Gallery</h2>
        <ul class="auto-grid" style="--auto-grid-min-size:24rem">
          {% for image in images %}
            <li class="[ radius ][ img-auto ]">
              <img
                src="{% src image.src, 528, 0.5 %}"
                srcset="{% srcset image.src, null, 0.5 %}"
                sizes="{% sizes [
                  '(min-width: 70rem) 33rem',
                  '(min-width: 53rem) calc((100vw - 4rem) / 2)',
                  'calc(100vw - 2.66rem)'
                ] %}"
                alt="{{ image.alt }}"
                width="528"
                height="264"
                loading="lazy"
              >
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endif %}

{% endblock %}
