{% extends 'layouts/base.njk' %}

{% block content %}
  <article>
    <div class="[ wrap ][ flow ]">

      <div class="[ flow ][ measure-long ][ gap-bot-900 ]">
        {{ intro | safe }}
      </div>

      <div class="flex-flow">
        {% if techs %}
          <div class="flow">
            <h2>Technologies</h2>
            <ul>
              {% for tech in techs %}
                <li>{{ tech }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if buttons %}
          {% for button in buttons %}
            <div class="flow">
              <h2>{{ button.title }}</h2>
              <a class="b-button" href="{{ button.url }}">{{ button.label }}</a>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      {% if mainImage %}
        <div class="[ radius ][ img-auto ]">
          <img
            src="{% src mainImage.src, 1077, 0.5 %}"
            srcset="{% srcset mainImage.src, null, 0.5 %}"
            sizes="{% sizes 'full' %}"
            alt="{{ mainImage.alt }}"
            width="1077"
            height="539"
            loading="lazy"
          >
        </div>
      {% endif %}
    </div>
  </article>

  <article class="bg-dark-1">
    {% divider 'color-dark-1' %}
    <div class="wrap">
      <div class="[ flow ][ measure-long ]">
        {{ content | safe }}
      </div>
    </div>
  </article>

  {% if images %}
    <article>
      {% divider 'color-dark' %}
      <div class="[ wrap ][ flow ]">
        <h2>Gallery</h2>
        <ul class="auto-grid" style="--auto-grid-min-size:24rem">
          {% for image in images %}
            <li class="[ radius ][ img-auto ]">
              <a href="{% src image.src, 2000 %}">
                <img
                  src="{% src image.src, 528, 0.5 %}"
                  srcset="{% srcset image.src, null, 0.5 %}"
                  sizes="{% sizes [
                    '(min-width: 70rem) 33rem',
                    '(min-width: 53rem) calc((100vw - 4rem) / 2)',
                    'calc(100vw - 2.66rem)'
                  ] %}"
                  alt="{{ image.alt }}"
                  width="528"
                  height="264"
                  loading="lazy"
                >
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endif %}

{% endblock %}
