.b-header {
  background: var(--c0);
  height: 75vh;
  position: relative;

  &__overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__wrap {
    align-items: center;
    display: flex;
  }

  &__btns {
    margin-left: get-size('900');
  }

  &__btn {
    background: get-color('dark-1');
    border: 2px solid transparent;
    border-radius: 50%;
    color: get-color('light');
    cursor: pointer;
    padding: .5rem;
  }
}
