.b-header {
  height: 75vh;
  position: relative;

  &__overlay {
    z-index: 1;
  }

  &__btn {
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
  }

  // selection and focus styling
  ::selection {
    background: get-color('dark');
    color: get-color('light');
  }

  :focus {
    outline-color: get-color('dark');
  }
}
