.b-icon {
  $self: &;

  align-self: center;
  display: flex;

  &__svg {
    height: 1em;
    width: 1em;
  }

  &.inline {
    display: inline-flex;

    #{$self}__svg {
      position: relative;
      top: .15em;
      vertical-align: middle;
    }
  }
}
