.b-icon {
  $self: &;
  align-self: center;
  display: flex;

  &__svg {
    fill: currentColor;
    height: 1em;
    width: 1em;

    &--s {
      fill: none;
      fill: none;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
    }
  }

  &.inline {
    display: inline-flex;

    #{$self}__svg {
      position: relative;
      top: .15em;
      vertical-align: middle;
    }
  }
}
