$sun-size: m#{i}n(4rem, 10vw);
$sun-movement-v: 30%;
$sun-movement-h: 40%;

.b-landscape {
  $self: &;

  height: 75vh;
  overflow: hidden;
  position: relative;

  &__sun {
    $distance: 10;

    bottom: 10%;
    height: 75%;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(var(--scrollPos, 0));
    transition: all 2s;
    transition-property: opacity, visibility;
    visibility: hidden;
    width: 100%;
    will-change: transform;

    @media (prefers-reduced-motion: reduce) {
      display: none;
    }

    &[data-active] {
      opacity: 1;
      visibility: visible;

      #{$self}__sunH {
        transform: translateX(calc(#{$sun-movement-h} * var(--sun-h)));
      }

      #{$self}__sunV {
        transform: translateY(calc(#{$sun-movement-v} * var(--sun-v)));
      }
    }
  }

  &__sunH {
    transform: translateX(0);
  }

  &__sunV {
    transform: translateY(#{$sun-movement-v});

    &::before {
      background: #fff;
      border-radius: 50%;
      content: '';
      height: $sun-size;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $sun-size;
    }
  }

  &__layer {
    $layers: 10;

    transform: translateY(calc(var(--scrollPos, 0) * var(--offset, 0)));
    transform-origin: 50% 67%;
    transition: transform-origin .2s;
    will-change: transform;

    @media (prefers-reduced-motion: reduce) {
      transform: translateY(0);
    }
  }

  &__image {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-height: 100%;
    max-width: 300%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    width: 2500px;

    svg {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  &[data-themes='true'] {
    #{$self}__layer {
      transform-origin: 50% 55%;
    }
  }
}
