.b-portrait {
  flex-basis: 15rem;

  &__inner {
    background-color: var(--c2);
    border-radius: 100vw;
    overflow: hidden;
    margin: 0 auto;
    width: max-content;
  }

  img {
    mix-blend-mode: color-burn;
  }
}
