.b-portrait {
  flex-basis: 15rem;

  svg {
    background: get-color('dark-m1');
    border: get-size('200') solid get-color('light');
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 50vw;
    min-width: 15rem;

    .houdini & {
      transition: background 1s, border-color 1s;
    }
  }
}
