.b-skip {
  left: 50%;
  position: absolute;
  transform: translateY(-100%) translateX(-50%);
  transition: transform .3s;
  z-index: 100;

  &:focus {
    transform: translateY(0%) translateX(-50%);
  }
}
