.b-skip {
  background: get-color('dark');
  color: get-color('light');
  left: 50%;
  padding: .5rem;
  position: absolute;
  transform: translateY(-100%) translateX(-50%);
  transition: transform .3s;
  z-index: 100;

  &:focus {
    transform: translateY(0%) translateX(-50%);
  }
}
