.b-workGrid {
  $self: &;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__link {
    &:hover {
      + #{$self}__img {
        transform: scale(1.03);
      }
    }

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__img {
    margin-bottom: var(--flow-space);
    margin-top: 0;
    order: -1;
    transition: all .2s;
  }
}
