---
layout: 'raw'
title: 'About'
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h1>I'm Alistair Shepherd, a web developer based in Edinburgh, Scotland</h1>
        <p>I've been working with the web for 6 years, building responsive websites and web apps. I love writing CSS, HTML and progressive JavaScript, and enjoy working on performance, accessibility, modern static site generation and stunning interfaces.</p>
      </div>
      <div class="[ radius ][ img-auto ]">
        {% plaiceholder '/images/about-portrait.jpg' %}
        <img
          src="/images/about-portrait.jpg"
          alt="Image alt"
          width="1200"
          height="600"
          loading="lazy"
        >
      </div>
    </div>
  </div>
</article>

<article class="bg-dark-1">
  {% divider 'color-dark-1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>My Work</h2>
      <p>I currently work as a Frontend Developer at <a href="#">Blue2 Digital</a>, a digital agency in Dundee specialising in building and designing bespoke websites.</p>
      <p>I've previously worked as a Full Stack developer at <a href="#">The Covey Agency</a>, and as a freelance developer in the Scottish Highlands under the name <a href="#">Accudio</a>.</p>
      <p>I'm generally not available for freelance work, but feel free to get in touch and we can see if either myself or the Blue2 team can help!</p>
      <p><a class="b-button" href="/cv/">My CV / Resume</a>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h2>About Me</h2>
        <p>I grew up in the Highlands of Scotland, and the wild mountains is always home for me. My programming and development skills are self-taught, and after a brief period studying Computatational Physics at the University of Dundee decided academia wasn't for me. I wanted to continue my hobby of building websites into a career, which is where I am today.</p>
        <p>When I'm not in front of my computer writing code, I love origami, video games, and listening to music Spotify categorises as "Indie Rock", "Indie Pop Rock", "Stomp and Holler" and "Hopebeat".</p>
        <p>Growing up in the Cairngorms and with Scottish Skiing on my doorstep I adore skiing, snowboarding, and mountains in general and you can often find me up a hill with either skis or walking boots on!</p>
      </div>
      <div class="[ radius ][ img-auto ]">
        {% plaiceholder '/images/about-snowboard.jpg' %}
        <img
          src="/images/about-snowboard.jpg"
          alt="Image alt"
          width="1200"
          height="600"
          loading="lazy"
        >
      </div>
    </div>
  </div>
</article>
