---
layout: raw
title: My CV / Resume
metaDesc: CV and Resume for Alistair Shepherd, front-end web developer based in Edinburgh, Scotland.
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h1>CV / Resume</h1>
        <p>
          Alistair is an experienced front-end web developer and lead developer that strives to create great looking, feeling and performing websites of all kinds. He built up experience developing websites, e-commerce sites, web apps, APIs and more for individuals and businesses using a range of technologies and circumstances.
        </p>
        <p>
          Alistair is passionate for user experience, accessibility, performance and CSS. He has additional extensive experience in devops, team management, technical writing, strategy, and public speaking.
        </p>
      </div>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Skills</h2>
      <ul class="[ flow ][ text-400 ]">
        <li>
          <h3 class="text-600">HTML</h3>
          <p>Semantic and modern markup, progressive enhancement/graceful degradation, accessibility following WAI-ARIA standards</p>
        </li>
        <li>
          <h3 class="text-600">CSS</h3>
          <p>Responsive Design, SASS, CSS architecture, modular and scoped CSS, CSS frameworks including Bootstrap and Tailwind, translating pixel-perfect designs, style linting tools, animation</p>
        </li>
        <li>
          <h3 class="text-600">JavaScript</h3>
          <p>Modern front-end JavaScript, writing ES6 with Babel, use of node.js, libraries including jQuery, Vue,js, React, Svelte, Alpine, express, script linting tools</p>
        </li>
        <li>
          <h3 class="text-600">Jamstack</h3>
          <p>Experience with Static Site Generators including 11ty, Next.js, Nuxt, Gridsome, Sapper. Also experienced with 'serverless' including Lambda, Netlify functions and Vercel</p>
        </li>
        <li>
          <h3 class="text-600">Image Optimisation</h3>
          <p>Extensive experience in image optimisation including format knowledge, image workflows including local and image CDNs, experience testing and implementing optimal loading strategies.</p>
        </li>
        <li>
          <h3 class="text-600">Workflow and Tooling</h3>
          <p>NPM, Yarn, Gulp, Grunt, Webpack, Parcel, Rollup, Snowpack, Esbuild</p>
        </li>
        <li>
          <h3 class="text-600">Backend Languages</h3>
          <p>PHP, libraries and library management with composer</p>
        </li>
        <li>
          <h3 class="text-600">Wordpress Development</h3>
          <p>Bespoke theme and plugin development, use of Advanced Custom Fields, WordPress REST API</p>
        </li>
        <li>
          <h3 class="text-600">Testing, optimisation and debugging</h3>
          <p>Software and Browser testing and debugging, Performance and accessibility testing, auditing and optimisation</p>
        </li>
        <li>
          <h3 class="text-600">Other technical</h3>
          <p>REST API and HTTP, version control and collaboration with Git, experience with Adobe (XD, Illustrator, Photoshop, InDesign), Affinity (Designer, Photo, Publisher) and Figma programs</p>
        </li>
        <li>
          <h3 class="text-600">Client interaction</h3>
          <p>Writing proposals and quotes, meeting with individuals and groups, writing user-focused documentation, basic training</p>
        </li>
        <li>
          <h3 class="text-600">Great team mentality and communication</h3>
          <p>Able to discuss problems with other team members and work collaboratively, keen to expand the skills of the team by learning from members and conveying own knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Experience</h2>
      <ul class="[ flow ][ text-400 ]">
        <li>
          <h3 class="text-500">Lead Developer at <a href="https://serieseight.com">SeriesEight</a></h3>
          <p>January 2023&ndash;Present</p>
          <ul>
            <li>Managing and supporting the Series Eight development team.</li>
            <li>Driving processes, documentation and tooling to improve developer productivity and happiness.</li>
            <li>Consulting and assisting with more complex and difficult development tasks.</li>
            <li>Continuing to work on websites using technologies including Craft CMS, Shopify, WordPress, Tailwind, Alpine and Vue.js.</li>
          </ul>
        </li>
        <li>
          <h3 class="text-500">Frontend Developer at <a href="https://serieseight.com">SeriesEight</a></h3>
          <p>April 2021&ndash;January 2023</p>
          <ul>
            <li>Building dynamic and exciting websites from design using technologies including Craft CMS, Shopify, WordPress, Tailwind, Alpine and Vue.js.</li>
            <li>Made a significant impact on company learning, pushing for improved accessibility standards and for better image delivery strategies.</li>
          </ul>
        </li>
        <li>
          <h3 class="text-500">Full Stack Developer at <a href="https://blue2.co.uk">Blue2 Digital</a></h3>
          <p>January 2021&ndash;April 2021</p>
          <ul>
            <li>Developed full-stack WordPress websites for several clients during my time with the agency.</li>
            <li>Built two sites fully from design and contributed to new features and bug fixing for many others.</li>
            <li>Quickly became key member of the team, assisting existing and new members in improving code quality - particularly around performance and accessibility.</li>
            <li><em>Left Blue2 to move into a role more focused on frontend development.</em></li>
          </ul>
        </li>
        <li>
          <h3 class="text-500">Full Stack web Developer at <a href="https://www.thecoveyagency.com">The Covey Agency</a></h3>
          <p>January 2019&ndash;December 2020</p>
          <ul>
            <li>Developed modern websites that are functional, built to design, responsive, accessible and performant for many large clients to tight deadlines.</li>
            <li>Personally responsible for delivering over 15 websites, including working with clients and the rest of the team from design stage to launch and continued development.</li>
            <li>Overhauled build toolchain to allow for faster and more efficient development.</li>
          </ul>
        </li>
        <li>
          <h3 class="text-500">Freelance Web Developer as <a href="https://www.accudio.com">Accudio</a></h3>
          <p>April 2014&ndash;Present</p>
          <ul>
            <li>Developed custom and bespoke solutions for clients using technologies including React, Vue.js, WordPress, 11ty and more.</li>
            <li>Provided ongoing maintenance, support and hosting, satisfying the needs of clients.</li>
            <li>Worked with Carrbridge Community Council on a new responsive website and business listing system for carrbridge.com. Since launch, these changes have increased the average daily visitors by 125%, and decreased the bounce rate by 20%.</li>
            <li>Developed a new responsive website and integrated a booking system for the watersports centre Loch Morlich, increasing average daily visitors by 66% and website booking conversion by an estimated 75%. During Covid-19, this booking system became essential for the business and now 100% of income is taken online.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</article>
