---
layout: 'raw'
title: 'My CV / Resume'
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h1>CV / Resume</h1>
        <p>
          Alistair is a hard-working front-end web developer that strives to create great looking, feeling and performing websites of all kinds. He built up experience developing websites, webapps, booking systems and more for individuals and businesses using a range of technologies and under strict deadlines.
        </p>
        <p>
          He has additional experience in business to business interaction, website design, and hosting/system administration. Alistair is passionate for user experience, accessibility, performance and system design.
        </p>
      </div>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Skills</h2>
      <ul class="[ flow ][ text-400 ]">
        <li>
          <h3 class="text-600">HTML</h3>
          <p>Semantic design, modern HTML5 features, progressive enhancement and graceful degradation, accessibility following WAI-ARIA standards</p>
        </li>
        <li>
          <h3 class="text-600">CSS</h3>
          <p>Responsive Design, SASS, CSS architecture, modular and scoped CSS, working with libraries, translating pixel-perfect designs, style linting tools, animation</p>
        </li>
        <li>
          <h3 class="text-600">JavaScript</h3>
          <p>Modern front-end JavaScript, writing ES6 with Babel, use of node.js, libraries including jQuery, Vue,js, React, Svelte, express, script linting tools</p>
        </li>
        <li>
          <h3 class="text-600">Workflow and Tooling</h3>
          <p>NPM, Yarn, Gulp, Grunt, Webpack, Parcel, Rollup, Snowpack</p>
        </li>
        <li>
          <h3 class="text-600">Backend Languages</h3>
          <p>PHP, libraries and library management with composer</p>
        </li>
        <li>
          <h3 class="text-600">Wordpress Development</h3>
          <p>Bespoke theme and plugin development, use of Advanced Custom Fields, WordPress REST API, Wordpress coding  standards</p>
        </li>
        <li>
          <h3 class="text-600">Graphic and Web Design</h3>
          <p>Wireframing, UI and UX design principles, dynamic prototyping through static sites</p>
        </li>
        <li>
          <h3 class="text-600">Testing, optimisation and debugging</h3>
          <p>Software and Browser testing and debugging, Performance and accessibility testing, auditing and optimisation</p>
        </li>
        <li>
          <h3 class="text-600">Other technical</h3>
          <p>REST API and HTTP prinicples, version control and collaboration with Git, experience with Adobe (XD, Illustrator, Photoshop, InDesign) and Affinity (Designer, Photo, Publisher) programs</p>
        </li>
        <li>
          <h3 class="text-600">Client interaction</h3>
          <p>Writing proposals and quotes, meeting with individuals and groups, writing userfocused documentation, basic training</p>
        </li>
        <li>
          <h3 class="text-600">Great team mentality and communication</h3>
          <p>Able to discuss problems with other team members and work collaboratively, keen to expand the skills of the team by learning from members and conveying own knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Experience</h2>
      <ul class="[ flow ][ text-400 ]">
        <li>
          <h3 class="text-500">Full Stack web Developer at <a href="https://www.thecoveyagency.com">The Covey Agency</a></h3>
          <p>January 2019&ndash;December 2020</p>
          <ul>
            <li>Developed modern websites that are functional, built to design, responsive, accessible and performant for many large clients to tight deadlines.</li>
            <li>Personally responsible for delivering over 15 websites, including working with clients and the rest of the team from design stage to launch and continued development.</li>
            <li>Overhauled build toolchain to allow for faster and more efficient development.</li>
          </ul>
        </li>
        <li>
          <h3 class="text-500">Freelance Web Developer as <a href="https://www.accudio.com">Accudio</a></h3>
          <p>April 2014&ndash;Present</p>
          <ul>
            <li>Developed custom and bespoke solutions for clients using technologies including React, Vue.js, WordPress, 11ty and more.</li>
            <li>Provided ongoing maintenance, support and hosting, satisfying the needs of clients.</li>
            <li>Worked with Carrbridge Community Council on a new responsive website and business listing system for carrbridge.com. Since launch, these changes have increased the average daily visitors by 125%, and decreased the bounce rate by 20%.</li>
            <li>Developed a new responsive website and integrated a booking system for the watersports centre Loch Morlich, increasing average daily visitors by 66% and website booking conversion by an estimated 75%. During Covid-19, this booking system became essential for the business and now 100% of income is taken online.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</article>
