---
layout: raw
title: My favourite games
metaDesc:
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h1>My Favourite Games</h1>
        <p>I am very into video games, and there are lot that are particularly special to me or I have <strong>really</strong> enjoyed. These are particularly indie titles that aren't as well-known as they have every right to be!</p>
        <p>If it were every game I've enjoyed there would be hundreds here, so to get on the list each title had to be "wow", for whatever reason.</p>
        <p><a href="#contact">Let me know</a> if you take up one of these as a recommendation, have a recommendation for me, or want to talk about games at all!</p>
      </div>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Those I adore</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://www.mobiusdigitalgames.com/outer-wilds.html">Outer Wilds</a> — I believe Outer Wilds is the best game ever made. You are dropped into an incredibly detailed solar system that you can explore and changes as you play. It's a narrative masterpiece, and a beautiful experience I will never forget. I cannot recommend it enough, if you haven't already played it stop reading this and go play it! Welcome back.</li>
        <li><a href="https://obradinn.com">Return of the Obra Dinn</a> — I counted down the days for Obra Dinn's release and oh boy it didn't disappoint. Obra Dinn is a wonderful mystery where you explore the history of what happened to the eventful voyage of a ship called the Obra Dinn, identifying what happened, the crew, and their eventual fates. It has a stunning 1-bit art style and is a fantastic challenge. I properly whooped when I discovered the name of a difficult to identify crew member!</li>
        <li><a href="https://www.thegoldenidol.com">The case of the Golden Idol</a> — The Golden Idol is another mystery game where you piece together identities and who killed who. It has great pixel art and a wonderful and colourful story that managed to constantly surprise me. The DLC is also well worth it.</li>
        <li><a href="https://www.strangehorticulture.com">Strange Horticulture</a> — Strange Horticulture's mechanics are simple, you run a plant shop and identify, sell and find new plants. A simple, calming game loop, except this is no ordinary world and plant shop. Delve into a mysterious occult story through the customers you sell to and a world to explore. Oh and that world is the lake district. Nice.</li>
        <li><a href="https://www.stanleyparable.com">The Stanley Parable: Ultra Deluxe</a> — often when playing The Stanley Parable you'll realise that the turns have tabled and the game is playing you. It's an adventure comedy game, but it's so much more than that. You'll mess with it and it'll mess back, it'll surprise and trick you and you'll love it. If you've played the original but not Super Deluxe, it's in a similar vein to the original but unique enough to feel new, and modified the original in weird and wonderful ways.</li>
        <li><a href="https://www.albawildlife.com">Alba: a wildlife adventure</a> — In Alba, you explore a beautiful mediterranean island and take photos of birds. That's it, that's the game, it's wonderful. Alba is an antidote to modern life, take an afternoon and just enjoy running around a bright and colourful island and look at the pretty wildlife. Also has a strong story about environmentalism, what's not to love?</li>
      </ul>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Narrative</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://theartfulescape.com">The Artful Escape</a> — a weird, psychedelic space adventure through the medium of music with great story and narration.</li>
        <li><a href="https://genesisnoirgame.com">Genesis Noir</a> — weird exploration game with a noir, jazz-style theme, fantastic soundtrack (got the record) and stunning art and animation.</li>
        <li><a href="https://silverliningstudio.co/Behindtheframe/index.html">Behind the Frame: The finest scenery</a> — a beautiful narrative point-and-click puzzle adventure around art, love and loss. So touching it made me cry</li>
        <li><a href="https://georgebatch.itch.io/far-from-noise">Far from noise</a> — relax, take it slow and have a profound chat with a deer. The only mechanic is dialog, and it does it extremely well.</li>
      </ul>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Strategy</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://civilization.com">Sid Meier's Civilization VI</a> — the latest and (in my opinion) greatest of the OG turn-based 4X strategy game. At time of writing I have over 1000 hours in Civ 6 and still love it. It has very in-depth city/empire building and planning which is right up my street.</li>
        <li><a href="https://www.factorio.com">Factorio</a> — conveyor belts, factories, research labs, power systems, train networks. The ultimate factory builder strategy.</li>
        <li><a href="https://www.terranil.com">Terra Nil</a> — an anti-Factorio, restore nature and beauty to a dead world in this short strategy builder. The feeling of starting with a dead world and leaving a haven of plants and animals is fantastic.</li>
        <li><a href="https://rimworldgame.com">Rimworld</a> — insanely in-depth colony sim that's actually pretty accessible. Play however you'd like, building a utopian town or a bunker of cannibals. A bit like Dwarf Fortress but doesn't require 4 years of study to play.</li>
        <li><a href="https://ooblets.com">Ooblets</a> — a super cute, ball of silliness with farming simulation and dance battles. Be back soon, I just need to collect some Nurnies to buy Sporbets for my Fleeble.</li>
        <li><a href="https://equilinox.com">Equilinox</a> — a world sandbox where you build biomes, evolve plants and animals and construct an entire ecosystem.</li>
        <li><a href="https://www.kerbalspaceprogram.com">Kerbal Space Program</a> — An entire solar system is out there, if you could just design a rocket that doesn't explode on the launchpad. Silly sandbox space game with proper Aerospace engineering.</li>
        <li><a href="https://www.airbornekingdom.com">Airborne Kingdom</a> — city-builder, but on a flying airship that roams the world exploring, collecting resources to expand, helping towns and researching historical ruins.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Puzzle</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://papersplea.se">Papers, Please</a> — you work as a passport checker in a totalitarian, dystopian eastern-bloc fictional country. The art, writing, mechanics and general vibes are all brilliant. Truly amazing.</li>
        <li><a href="https://www.laytonseries.com/">The Professor Layton series</a> — A true classic of the puzzling genre with great art and story. My favourites are the newer "Layton's Mystery Journey" on switch, and the original triology of Curious Village, Pandora's Box and The Lost Future.</li>
        <li><a href="https://annapurnainteractive.com/en/games/i-am-dead">I am Dead</a> — narrative puzzle game around finding hidden items by 'clipping through' objects. Lovely vibe and story, very wholesome!</li>
        <li><a href="https://nationalinsecurities.itch.io/once-upon-a-crime-in-the-west">Once upon a crime in the west</a> — a real surprise as I stumbled across it in an itch.io bundle. It's a really cool and funny murder mystery using time mechanics, a bit like a more indie comedy Obra Dinn.</li>
        <li><a href="https://www.pentadact.com/category/gunpoint/">Gunpoint</a> — a stealth puzzle game where you change the wiring of building to sneak in and mess with inhabitants. Very funny.</li>
        <li><a href="https://tim-sheinman.itch.io/family">Family</a> — Similar in style to the murder mystery games, but instead of  a murder you're uncovering a forgotten 80s music scene. Listen to the music, read articles and work out who was in which bands.</li>
      </ul>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Adventure</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://www.firewatchgame.com">Firewatch</a> — Firewatch inspired my website design so I'm obviously a fan! A mystery set in a stunning Wyoming wilderness, with great writing. All around lovely vibes.</li>
        <li><a href="https://ashorthike.com">A Short Hike</a> — you're a little bird exploring an island and mountain, talking to people and finding treasure. A lovely game to lose yourself in for a bit.</li>
        <li><a href="https://goose.game">Untitled Goose Game</a> — you are a naughty goose. Generally be a pain to all the people of this adorable little village for no reason but to be naughty. The soundtrack of Debussy's Preludes works perfectly.</li>
        <li><a href="https://www.kingdomthegame.com">Kingdom: Two Crowns</a> — this is a very simple city builder/strategy game but it feels better in adventure as there's lots of exploration and mystery. You're the monarch of small towns that are under attack by monsters. Use your precious coins to recruit, upgrade, defend and expand your towns.</li>
        <li><a href="https://www.toppluva.com/GrandMountainAdventure/">Grand Mountain Adventure</a> — I'm a sucker for a skiing game and this is the best one. Explore a range of ski resorts and do various challenges to unlock new lifts and resorts. Very cute, chill and pretty.</li>
        <li><a href="https://www.minecraft.net">Modded Minecraft</a> — I've spent so much time in Minecraft I couldn't miss it out. Nowadays I play with lots of mods, adding loads of new elements and systems to the game to explore. I pretty much never get tired of it.</li>
      </ul>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h2>Action / RPG / Rogue-light</h2>
      <ul role="list" class="[ flow ][ text-500 ]">
        <li><a href="https://www.pentadact.com/category/heatsig/">Heat signature</a> — infiltrate randomly-generated space ships with fancy tech and take over the universe. At some point you'll kill your character and have the chance to avenge them as their replacement.</li>
        <li><a href="https://www.ubisoft.com/en-us/game/assassins-creed/odyssey">Assasin's Creed Odyssey</a> — I really like the open-world RPG-style AC games. Particularly Odyssey, which is set in ancient greece with the associated mythology and historical figures. It's a great world to explore, fun characters and progression, and generally a good time.</li>
        <li><a href="https://www.ubisoft.com/en-us/game/assassins-creed/valhalla">Assasin's Creed Valhalla</a> — Odyssey's edgier younger sibling. Play as vikings settling in Englands and fight against the Angels, Saxons, Britons and Picts. It hasn't got the same colour and warmth as Odyssey, but still extremely good and fun.</li>
        <li><a href="https://www.supergiantgames.com/games/hades/">Hades</a> — I don't like rogue-light dungeon crawlers. Except Hades. It's a game that is rewarding no matter how good you are, you always feel like you're progressing, and has wonderful combat, voice acting, art and story. I begrudgingly gave it a try, then suddenly realised it was 4 months later and I was trying to 100% it.</li>
        <li><a href="https://www.supergiantgames.com/games/bastion/">Bastion</a> — The first game from Supergiant (who made Hades), Bastion is a great action adventure game with fantastic story and narration.</li>
        <li><a href="https://borderlands.com">Borderlands</a> — a silly and ridiculous open-world action shooter. Things explode everywhere, you have guns that talk or become grenades on reload, tied together with daft writing. Borderlands 1 and 2 are the best ones, you can play solo or it's a fantastic co-op game. Borderlands 3 is okay, but doesn't have the same charm.</li>
        <li><a href="https://www.ubisoft.com/en-gb/game/far-cry/far-cry-4">Far Cry 4</a> — My favourite from the Far Cry series, 4 gives you a big, colourful world, a wingsuit to explore it with and let's you do what you'd like. It's a bit formulaic, but good fun.</li>
        <li>Legend of Zelda: <a href="https://zelda.nintendo.com/breath-of-the-wild/">Breath of the Wild</a> and <a href="https://zelda.nintendo.com/tears-of-the-kingdom/">Tears of the Kingdom</a> — they're amazing games, enough said really.</li>
      </ul>
    </div>
  </div>
</article>
