---
layout: 'raw'
title: XITY Starter
---

{% from "partials/postItem.njk" import postItem %}

<article class="pad-top-600">
  <div class="wrap">
    <div class="l-side">
      <div class="[ l-side__main ][ flow ][ measure-long ]">
        <h1>Hi, I'm Alistair!</h1>
        <p>
          I'm a web developer based in Edinburgh, Scotland, and use the pronouns he/him. I love front-end development&mdash;particularly CSS, HTML, and web performance.
        </p>
        <p>
          You can find out more about <a href="/work/">my Projects and Work</a>, <a href="/about/">about me</a> or <a href="/cv/">view my CV</a>. I occasionally write about web technologies on my <a href="/writing/">blog</a>.
        </p>
        <p>
          Feel free to <a href="#contact">contact me</a> if you want to find out more info, speak about a project, or have a chat about the web!
        </p>
      </div>
      <div class="[ l-side__sidebar ][ b-portrait ]" role="img" aria-label="Illustration of Alistair Shepherd. He has messy brown hair, blue eyes, glasses, a light beard and is wearing a shirt.">
        {% include 'svg/portrait.svg' %}
      </div>
    </div>
  </div>
</article>

<article class="[ b-featWork ][ bg-dark-m1 ]">
  {% divider 'color-dark-m1' %}
  <div class="[ wrap ][ flow ]">
    <div class="[ b-featWork__inner ][ flow ]">
      <div class="[ b-featWork__intro ][ flow flow-space-300 ]">
        <h2>My Work and Projects</h2>
        <p class="[ b-featWork__summary ][ measure-compact ]">
          Case studies for a few personal projects I like to show off and a few of my finest freelance websites!
        </p>
      </div>

      {% for work in collections.featuredWork %}
        <a href="{{ work.url }}" aria-label="See {{ work.data.title }}" class="[ b-featWork__item ][ radius ][ img-fit ]">
          <img
            src="{% src work.data.thumbnail, 528, 0.5 %}"
            srcset="{% srcset work.data.thumbnail, null, 0.5 %}"
            sizes="{% sizes [
              '(min-width: 62rem) calc((67.34rem / 2) - 1.33rem)',
              '(min-width: 37rem) calc((100vw - 2.66rem) * .6)',
              'calc(100vw - 2.66rem)'
            ] %}"
            width="528"
            height="264"
            alt=""
            loading="lazy"
          >
        </a>
      {% endfor %}

    </div>
    <div class="[ b-featWork__action ][ flow-space-700 ]">
      <a href="/work/" class="b-button">More work</a>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="[ wrap ][ flow ]">
    <h2>My Writing</h2>

    {% set postList = collections.posts %}
    {% if collections.posts.length %}
      <ol reversed class="[ latest-posts ][ flow flow-space-700 ][ measure-long ]">
        {% for item in postList | reverse %}
          {{ postItem(item.url, item.data.title, item.date, item.data.excerpt, 'h3') }}
        {% endfor %}
      </ol>
    {% endif %}
  </div>
</article>
