---
layout: 'raw'
title: XITY Starter
---

{% from "partials/postItem.njk" import postItem %}

<article class="pad-top-600">
  <div class="wrap">
    <div class="l-side">
      <div class="[ l-side__main ][ flow ][ measure-long ]">
        <h1>Hi, I'm Alistair!</h1>
        <p>
          I'm a web developer based in Edinburgh, Scotland, and use the pronouns he/him. I love front-end development&mdash;particularly CSS, HTML, and web performance.
        </p>
        <p>
          A Fox one day spied a beautiful bunch of ripe grapes hanging from a vine trained along the branches of a tree. The grapes seemed ready to burst with juice, and the Fox's mouth watered as he gazed longingly at them.
        </p>
      </div>
      <div class="[ l-side__sidebar ][ b-portrait ]">
        {% include 'svg/portrait.svg' %}
      </div>
    </div>
  </div>
</article>

<article class="[ b-featWork ][ bg-dark-1 ]">
  {% divider 'color-dark-1' %}
  <div class="[ wrap ][ flow ]">
    <div class="[ b-featWork__inner ][ flow ]">
      <div class="[ b-featWork__intro ][ flow flow-space-300 ]">
        <h2>My Work and Projects</h2>
        <p class="[ b-featWork__summary ][ measure-compact ]">
          A certain Wolf could not get enough to eat because of the watchfulness of the Shepherds.
        </p>
      </div>

      <a href="/work/1896gallery/" aria-label="See 1896 Gallery" class="[ b-featWork__item ][ radius ][ img-fit ]">
        <img
          src="{% src 'work1.jpg', 528, 0.5 %}"
          srcset="{% srcset 'work1.jpg', null, 0.5 %}"
          sizes="{% sizes [
            '(min-width: 62rem) calc((67.34rem / 2) - 1.33rem)',
            '(min-width: 37rem) calc((100vw - 2.66rem) * .6)',
            'calc(100vw - 2.66rem)'
          ] %}"
          width="528"
          height="264"
          alt="Image alt"
          loading="lazy"
        >
      </a>

      <a href="/work/speedscanner/" aria-label="See Speed Scanner" class="[ b-featWork__item ][ radius ][ img-fit ]">
        <img
          src="{% src 'work2.jpg', 528, 0.5 %}"
          srcset="{% srcset 'work2.jpg', null, 0.5 %}"
          sizes="{% sizes [
            '(min-width: 62rem) calc((67.34rem / 2) - 1.33rem)',
            '(min-width: 37rem) calc((100vw - 2.66rem) * .6)',
            'calc(100vw - 2.66rem)'
          ] %}"
          width="528"
          height="264"
          alt="Image alt"
          loading="lazy"
        >
      </a>

      <a href="/work/potter-tree-consultancy/" aria-label="See Potter Tree Consultancy" class="[ b-featWork__item ][ radius ][ img-fit ]">
        <img
          src="{% src 'work3.jpg', 528, 0.5 %}"
          srcset="{% srcset 'work3.jpg', null, 0.5 %}"
          sizes="{% sizes [
            '(min-width: 62rem) calc((67.34rem / 2) - 1.33rem)',
            '(min-width: 37rem) calc((100vw - 2.66rem) * .6)',
            'calc(100vw - 2.66rem)'
          ] %}"
          width="528"
          height="264"
          alt="Image alt"
          loading="lazy"
        >
      </a>

    </div>
    <div class="[ b-featWork__action ][ flow-space-700 ]">
      <a href="/work/" class="b-button">More work</a>
    </div>
  </div>
</article>

<article>
  {% divider 'color-dark' %}
  <div class="[ wrap ][ flow ]">
    <h2>My Writing</h2>

    {% set postList = collections.posts %}
    {% if collections.posts.length %}
      <ol reversed class="[ latest-posts ][ flow flow-space-700 ][ measure-long ]">
        {% for item in postList | reverse %}
          {{ postItem(item.url, item.data.title, item.date, item.data.excerpt) }}
        {% endfor %}
      </ol>
    {% endif %}
  </div>
</article>
