---
layout: raw
title: More pages
metaDesc:
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ]">
        <h1>More pages</h1>

        <ul>
          <li>
            <a href="/games/">Favourite Games</a>
          </li>
          <li>
            <a href="https://literal.club/accudio">Reading history [literal.club]</a>
          </li>
          <li>
            <a href="https://twitter.alistairshepherd.uk">Twitter archive [twitter.alistairshepherd.uk]</a>
          </li>
          <li>
            <a href="https://github.com/accudio/alistair-shepherd">This website source code [github.com]</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
