---
layout: raw
title: Speaking
metaDesc: I love sharing my knowledge of the web by speaking at meetups and conferences!
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>Speaking</h1>
      <p>One of the great things about the web and developing for it is how accessible it is. When I was learning I picked up so much from watching other developers speak about their work - and now I have more experience I love doing the same.</p>
      <p>I'm just getting started &mdash; which has been a bit tricky with <em>the global situation</em> &mdash; but am very keen to speak at meetups and conferences. I like speaking about Web Performance, CSS architecture, Images and Accessibility.</p>
      <p>If you're looking for someone to speak about any of those topics at your meetup or a conference please <a href="#contact">get in touch</a>!</p>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <h2 class="gap-bot-600">Ongoing</h2>
    <ol reversed class="[ latest-posts ][ measure-long ]">
      <li class="flow flow-space-200">
        <h2 class="text-600">
          <a href="/speaking/wordpress-imagecdns/">Making assets fly on WordPress with Image CDNs</a>
        </h2>
        <div>
          Latest: <a href="https://www.meetup.com/WordPress-OX/events/282794402/">WordPress Oxford</a> &mdash; <time datetime="{{ '2022-01-18' | htmlDate }}">{{ '2022-01-18' | date }}</time>
        </div>
        <p>Talking about how image CDNs can make working with images on the web easier, and sites more performant. Particularly with relevance to WordPress.</p>
      </li>
      <li class="gap-top-800 flow flow-space-200">
        <h2 class="text-600">
          <a href="/speaking/jamstack-imagecdns/">Making assets fly on the Jamstack with Image CDNs</a>
        </h2>
        <div>
          Latest: <a href="https://www.linkedin.com/events/mmttechmeetup-jamstack-nov20216857048439935557632/">MMT Meetup</a> &mdash; <time datetime="{{ '2021-11-25' | htmlDate }}">{{ '2021-11-25' | date }}</time>
        </div>
        <p>Talking about how image CDNs can make working with images on the web easier, and sites more performant. Particularly with relevance to the Jamstack.</p>
      </li>
    </ol>
  </div>
</article>

<article class="bg-dark">
  {% divider 'color-dark' %}
  <div class="wrap">
    <h2 class="gap-bot-600">Previous</h2>
    <ol reversed class="[ latest-posts ][ measure-long ][ flow flow-space-700 ]">
      <li class="flow flow-space-200">
        <a href="https://www.linkedin.com/events/mmttechmeetup-jamstack-nov20216857048439935557632/">MMT Meetup</a> &mdash; <time datetime="{{ '2021-11-25' | htmlDate }}">{{ '2021-11-25' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://jamstacklondon.com">Jamstack London</a> &mdash; <time datetime="{{ '2021-09-30' | htmlDate }}">{{ '2021-09-30' | date }}</time>
      </li>
    </ol>
  </div>
</article>
