---
layout: raw
title: Speaking
metaDesc: I love sharing my knowledge of the web by speaking at meetups and conferences!
---

<article>
  <div class="wrap">
    <div class="[ flow ][ measure-long ]">
      <h1>Speaking</h1>
      <p>One of the great things about the web and developing for it is how accessible it is. When I was learning I picked up so much from watching other developers speak about their work - and now I have more experience I love doing the same.</p>
      <p>I like speaking about Web Performance, CSS architecture, Images and Accessibility. If you're looking for someone to speak about any of those topics at your meetup or a conference please <a href="#contact">get in touch</a>!</p>
    </div>
  </div>
</article>

<article class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <h2 class="gap-bot-900">Here are my talks</h2>
    <ol reversed class="[ latest-posts ][ measure-long ]">
      <li class="flow flow-space-200">
        <h2 class="text-600">
          <a href="/speaking/creative-web/">Creative web: building dynamic websites for work and play</a>
        </h2>
        <p>Modern web technologies and browsers are more powerful and flexible than ever, and making great websites has never been easier.</p>
        <p>This talk looks back at how with a bit of recent CSS and JavaScript and some simple techniques it's possible to make a dynamic, fun, creative website easier than you may think!</p>
      </li>
      <li class="[ gap-top-800 ][ flow flow-space-200 ]">
        <h2 class="text-600">
          <a href="/speaking/imagecdns/">Making assets fly and images a breeze with Image CDNs</a>
        </h2>
        <p>Talking about how image CDNs can make working with images on the web easier, and sites more performant.</p>
      </li>
    </ol>
  </div>
</article>

<article class="bg-dark">
  {% divider 'color-dark' %}
  <div class="wrap">
    <h2 class="gap-bot-600">I've had the pleasure of speaking at</h2>
    <ul>
      <li class="flow flow-space-200">
        <a href="https://2022.stateofthebrowser.com">State of the browser 2022</a> &mdash; <time datetime="{{ '2022-10-22' | htmlDate }}">{{ '2022-10-22' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://www.meetup.com/wordpress-leeds/events/285316194/">WordPress Leeds Meetup</a> &mdash; <time datetime="{{ '2022-05-24' | htmlDate }}">{{ '2022-05-24' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://www.meetup.com/scottish-developers/events/283803035/">Scottish Developers Meetup</a> &mdash; <time datetime="{{ '2022-03-09' | htmlDate }}">{{ '2022-03-09' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://www.meetup.com/Brighton-Web-Development-Meetup/events/282242678/">Brighton Web Development Meetup</a> &mdash; <time datetime="{{ '2022-01-27' | htmlDate }}">{{ '2022-01-27' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://www.meetup.com/WordPress-OX/events/282794402/">WordPress Oxford</a> &mdash; <time datetime="{{ '2022-01-19' | htmlDate }}">{{ '2022-01-19' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://www.linkedin.com/events/mmttechmeetup-jamstack-nov20216857048439935557632/">MMT Meetup</a> &mdash; <time datetime="{{ '2021-11-25' | htmlDate }}">{{ '2021-11-25' | date }}</time>
      </li>
      <li class="flow flow-space-200">
        <a href="https://jamstacklondon.com">Jamstack London</a> &mdash; <time datetime="{{ '2021-09-30' | htmlDate }}">{{ '2021-09-30' | date }}</time>
      </li>
    </ul>
  </div>
</article>
