---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /writing/tag/{{ tag | slug }}/
eleventyComputed:
  title: Tagged {{ tag }}
---
{% from "partials/postItem.njk" import postItem %}

<h1>#{{ tag }}</h1>
<small>{{ collections[tag].length }} posts published</small>

<ol reversed class="[ latest-posts ][ flow flow-space-700 ]">
  {% for item in collections[tag] | reverse %}
    {{ postItem(item.url, item.data.title, item.date, item.data.excerpt) }}
  {% endfor %}
</ol>
