---
title: 'Work'
layout: 'raw'
---

<article>
  <div class="wrap">
    <div class="flow">
      <div class="[ flow ][ measure-long ][ gap-bot-900 ]">
        <h1>My Work and Projects</h1>
        <p>I've worked on a range of accessible and performant websites and web-apps in the form of my personal projects, freelance work for small businesses, and agency work.</p>
        <p>Below are some case studies for my latest personal projects and for my finest freelance work, <a href="#contact">contact me</a> for information about my work with agencies.</p>
      </div>
      <ul class="[ b-workGrid ][ auto-grid ]" style="--auto-grid-min-size:32rem">
        {% for work in collections.work %}
          <li class="[ b-workGrid__item ][ flow ]">

            <a class="b-workGrid__link" href="{{ work.url }}">
              <h2>{{ work.data.title }}</h2>
            </a>

            <div class="[ b-workGrid__img ][ radius ][ img-auto ]" aria-hidden="true">
              <img
                src="{% src work.data.thumbnail, 528, 0.5 %}"
                srcset="{% srcset work.data.thumbnail, null, 0.5 %}"
                sizes="{% sizes [
                  '(min-width: 70rem) 33rem',
                  'calc(100vw - 2.66rem)'
                ] %}"
                alt="{{ work.data.images[0].alt }}"
                width="528"
                height="264"
                loading="lazy"
              >
            </div>

            {% if work.data.summary %}
              <p class="measure-short">{{ work.data.summary }}</p>
            {% endif %}

            <div class="b-workGrid__seemore" aria-hidden="true">See More &#129042;</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
