<article id="contact" class="bg-dark-m1">
  {% divider 'color-dark-m1' %}
  <div class="wrap">
    <div class="l-side">
      <div class="[ l-side__main ][ flow ]">
        <h2>Get in touch!</h2>
        <p class="measure-short">I'm always up for a chat, whether it be about my work, new opportunities, or just a natter! Feel free to <a href="mailto:{{ config.author.email }}">send me an email</a> at {{ config.author.email }} or find me on social media.</p>
      </div>
      <div class="[ l-side__sidebar ][ flow ]">
        <h2>Quick Links</h2>
        <ul class="b-linkList">
          <li>
            <a href="mailto:{{ config.author.email }}">
              {% icon 'email', 'b-linkList__icon inline' %}
              {{ config.author.email }}
            </a>
          </li>
          <li>
            <a href="https://{{ config.author.mastodon }}">
              {% icon 'mastodon', 'b-linkList__icon inline' %}
              Mastodon
            </a>
          </li>
          <li>
            <a href="https://github.com/{{ config.author.github }}">
              {% icon 'github', 'b-linkList__icon inline' %}
              GitHub
            </a>
          </li>
          <li>
            <a href="https://codepen.com/{{ config.author.codepen }}">
              {% icon 'codepen', 'b-linkList__icon inline' %}
              CodePen
            </a>
          </li>
          <li>
            <a href="/cv/">
              {% icon 'paperclip', 'b-linkList__icon inline' %}
              CV/Resume
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
