<article id="contact" class="bg-dark-1">
  {% divider 'color-dark-1' %}
  <div class="wrap">
    <div class="l-side">
      <div class="[ l-side__main ][ flow ]">
        <h2>Get in touch!</h2>
        <p class="measure-short">I'm always up for a chat, whether it be about my work, new opportunities, or just a natter! Feel free to <a href="mailto:alistair@accudio.com">send me an email</a> at alistair@accudio.com or find me on social media.</p>
      </div>
      <div class="[ l-side__sidebar ][ flow ]">
        <h2>Quick Links</h2>
        <ul class="b-linkList">
          <li>
            <a href="#0">
              {% icon 'email', 'b-intro__icon inline' %}
              alistair@accudio.com
            </a>
          </li>
          <li>
            <a href="#0">
              {% icon 'twitter', 'b-intro__icon inline' %}
              Twitter
            </a>
          </li>
          <li>
            <a href="#0">
              {% icon 'github', 'b-intro__icon inline' %}
              GitHub
            </a>
          </li>
          <li>
            <a href="#0">
              {% icon 'codepen', 'b-intro__icon inline' %}
              CodePen
            </a>
          </li>
          <li>
            <a href="#0">
              {% icon 'linkedin', 'b-intro__icon inline' %}
              LinkedIn
            </a>
          </li>
          <li>
            <a href="#0">
              {% icon 'paperclip', 'b-intro__icon inline' %}
              CV/Resume
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
