<footer class="[ b-footer ][ gap-top-major pad-bot-major ]">
  <div class="[ b-footer__wrap ][ wrap ]">
    <p class="b-footer__copy">Copyright &copy; Alistair Shepherd {{ env.year }}.</p>
    <ul class="b-footer__menu">
      <li>
        <a href="#page">Back to Top</a>
      </li>
      <li>
        <a href="/feed.xml">RSS</a>
      </li>
      <li>
        <button id="naked" class="btn-link">Naked</button>
      </li>
      <li>
        <a href="/sitemap.xml">Sitemap</a>
      </li>
    </ul>
  </div>
</footer>
