<footer class="[ l-footer ][ gap-top-major pad-bot-major ]">
  <nav
    class="[ l-footer__wrap ][ wrap ]"
    id="secondary-nav"
    aria-label="footer navigation">
    <p class="l-footer__copy">Copyright &copy; Alistair Shepherd {{ env.date.y }}.</p>
    <ul class="l-footer__menu">
      <li>
        <a href="#page">Back to Top</a>
      </li>
      <li>
        <a href="/feed.xml">RSS</a>
      </li>
      <li>
        <button id="naked" class="btn-link" type="button" role="switch" aria-checked="true">Naked</button>
      </li>
      <li>
        <a href="/privacy/">Privacy</a>
      </li>
      <li>
        <a href="/sitemap.xml">Sitemap</a>
      </li>
    </ul>
  </nav>
</footer>
