{% set pageTitle = title + ' - ' + config.name %}
{% set pageDesc = config.shortDesc %}
{% set siteTitle = config.name %}
{% set description = config.metaDesc %}
{% set currentUrl = config.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ external | default(currentUrl) }}"/>

<link rel="icon" type="image/svg+xml" href="/meta/favicon.svg">
<link rel="alternate icon" sizes="16x16" href="/meta/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
<link rel="manifest" href="/meta/site.webmanifest">
<link rel="mask-icon" href="/meta/safari-pinned-tab.svg" color="#d2353a">
<meta name="msapplication-TileColor" content="#d2353a">
<meta name="theme-color" content="#fff2d7">

<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>
<meta property="twitter:url" content="{{ currentUrl }}"/>
<meta property="twitter:site" content="{{ siteTitle }}"/>

{% if config.author.twitter %}
  <meta name="twitter:creator" content="@{{ config.author.twitter }}"/>
{% endif %}

<meta name="description" content="{{ pageDesc }}"/>
<meta name="twitter:description" content="{{ pageDesc }}"/>
<meta property="og:description" content="{{ pageDesc }}"/>

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image"/>
  <meta property="og:image" content="{{ socialImage }}"/>
  <meta name="twitter:image" content="{{ socialImage }}"/>
  <meta property="og:image:alt" content="Page image for {{ pageTitle }}"/>
  <meta name="twitter:image:alt" content="Page image for {{ pageTitle }}"/>
{% else %}
  <meta property="og:image" content="{{ config.url }}/meta/cover.jpg"/>
  <meta name="twitter:image" content="{{ config.url }}/meta/cover.jpg"/>
{% endif %}

{% if config.author.monetisation %}
  <meta name="monetization" content="{{ config.author.monetisation }}">
{% endif %}

{% if config.author.mastodon %}
  <link rel="me" href="https://{{ config.author.mastodon }}">
{% endif %}

<meta name="generator" content="{{ eleventy.generator }}">
