{% macro postItem(url, title, date, excerpt, hLevel='h2') %}
  <li>
    <{{ hLevel}} class="text-600">
      <a href="{{ url }}">{{ title }}</a>
    </{{ hLevel}}>
    <time datetime="{{ date | htmlDate }}">{{ date | date }}</time>
    {% if excerpt %}
      <p>{{ excerpt }}</p>
    {% endif %}
  </li>
{% endmacro %}
