{% set themes = [
  { slug: 'live',     name: 'Live',     icon: 'clock'   },
  { slug: 'cycle',    name: 'Cycle',    icon: 'refresh' },
  { slug: 'sunrise',  name: 'Sunrise',  icon: 'sunrise' },
  { slug: 'day',      name: 'Day',      icon: 'sun'     },
  { slug: 'sunset',   name: 'Sunset',   icon: 'sunset'  },
  { slug: 'night',    name: 'Night',    icon: 'moon'    },
  { slug: 'light',    name: 'Light',    icon: 'bulb'    }
] %}

<div class="[ b-themes ][ color-light bg-dark-m1 ]" data-expand="false" tabindex="-1" id="theme-panel">
  <ul class="[ b-themes__list ][ align-center ]">
    {% for theme in themes %}
      <li class="[ d-ib ][ gap-left-300 gap-right-300 ]">
        <button
          class="b-themes__btn"
          data-theme="{{ theme.slug }}"
          {% if theme.slug == 'live' %}data-active{% endif %}
        >
          {% icon theme.icon, 'inline b-themes__icon' %}
          {{ theme.name }}
        </button>
      </li>
    {% endfor %}
  </ul>
</div>
